<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @service.user_id %>
</p>

<p>
  <strong>Servicecategory:</strong>
  <%= @service.servicecategory_id %>
</p>

<p>
  <strong>Service title:</strong>
  <%= @service.service_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @service.tag_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @service.duration %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @service.instruction %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Register date:</strong>
  <%= @service.register_date %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
